<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082200220343-06u4nt7jhluhs6eu8ee6n1rv6i3pm4un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082200220343-06u4nt7jhluhs6eu8ee6n1rv6i3pm4un</string>
	<key>API_KEY</key>
	<string>AIzaSyBuyEU5Tc_yel-vyC2yMTIkSWkWrQYcing</string>
	<key>GCM_SENDER_ID</key>
	<string>1082200220343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristguide</string>
	<key>PROJECT_ID</key>
	<string>mysoreguide-3b51c</string>
	<key>STORAGE_BUCKET</key>
	<string>mysoreguide-3b51c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082200220343:ios:988a63f7c46539949ca332</string>
</dict>
</plist>